body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 5rem;
  box-sizing: border-box;
}

#root {
  width: 50%;
}

.general,
.education,
.experience {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  padding: 1rem;
}

.general,
.education > * {
  padding: 1rem;
}

.name {
  font-size: 48px;
}

.contact {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

h1,
h2 {
  padding: 1rem;
  font-weight: bold;
  text-decoration: underline;
}

h2 {
  font-size: 36px;
}

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.school-and-range {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.name-title-dates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;
  font-size: 24px;
  font-weight: bold;
}

.school {
  font-size: 24px;
  font-weight: bold;
  padding: 0.5rem;
  padding-left: 1rem;
}

.range {
  align-self: center;
  padding-right: 1rem;
}

.experience-list-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1% 10% 0 10%;
}

.experience-points {
  align-items: start;
  list-style: square;
  flex: 1;
  width: 40%;
}

.submit-icon:hover,
.add-icon:hover {
  color: slateblue;
}

button {
  width: fit-content;
  padding: 0;
  align-self: center;
  border: none;
  border-radius: 50%;
}

button[type="submit"] {
  margin-top: 0.5rem
}

.general-form,
.experience-form {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 16px;
}
.company-name {
  text-decoration: underline;
}

.company-range {
  font-size: 16px;
}
